<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WI-demo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://www.db-artsam.ru/images/stars.css">
  </head>
<body>
<!--
https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900
https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css
https://fonts.googleapis.com/css?family=Material+Icons
https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.min.css
https://www.db-artsam.ru/images/stars.css
-->

<style>
  #particles-background,
  #particles-foreground {
    left: -51%;
    top: -51%;
    width: 202%;
    height: 202%;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    -moz-transform: scale3d(0.5, 0.5, 1);
    -ms-transform: scale3d(0.5, 0.5, 1);
    -o-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }/*
  #particles-background {
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
  }*/
</style>

<!-- <script src="https://db-artsam.ru/code/Particleground.js"></script> -->
<main id="main">
  <span id="star" style="width: 100%; height: 100%; position: absolute; background-size: cover; transform: scale(1.1);">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
  </span>
  <span id="b_img" style="width: 100%; height: 100%; position: absolute; background-size: cover; transform: scale(1.1);"></span>
  <canvas id="canvas" style="background-color: #2c343f; position: absolute; background-size: cover; height: 100%; transform: scale(1.1);" hidden="true"></canvas>
  <div id="cube_ico" style="position: fixed; width: 100%; height: 100%; padding: 20px;">
    <div id="cube_ico_i" style="width: 100%; height: 100%; filter: invert(1); background: url('https://www.db-artsam.ru/images/yod_space.png') left bottom / 100px 40px no-repeat;"></div>
  </div>
  <div id="particles-background" class="vertical-centered-box" style="position: fixed; background-size: cover;"></div>
  <div id="particles-foreground" class="vertical-centered-box" style="position: fixed; background-size: cover;"></div>
  
  <v-app id="inspire">
    
    <div v-if="seen == 0" @wheel.prevent="page_wheel" style="width: 100%; height: 100%;">

      <v-toolbar flat :style="settings_theme.header_style">

        <v-text-field v-model="search_text" v-on:input="btn_search()" :label="`${ lt.search_profile[local] }`" 
          ingle-line flat solo dense style="margin: 25px 0px 0px 0px; max-width: 600px; min-width: 100px;">
        </v-text-field>

        <v-spacer></v-spacer>
        <sup class="mx-2" :title="lt.create_help[local]" style="top: auto;">
          <v-btn v-on:click="window_create()" label height="40" depressed color="accent">
            <v-icon dark>mdi-plus</v-icon>
          </v-btn>       
        </sup>
        <sup class="mx-2" :title="lt.create_fast_help[local]" style="margin-right: 16px!important; top: auto;">
          <v-btn v-on:click="window_create_fast()" label height="40" depressed color="accent" style="width: 100%;">
            <v-img style="content: url('https://db-artsam.ru/images/quick_profile.png');position: absolute;" max-width="40">
          </v-btn>          
        </sup>

        <v-menu offset-y auto>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on" class="float-right" label height="40" depressed color="error">
              <v-icon>mdi-menu</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="">
              <v-list-item-title v-on:click="dialog_settings = true">{{ lt.settings[local] }}</v-list-item-title>
            </v-list-item>
            <v-list-item @click="">
              <v-list-item-title v-on:click="close_app()">{{ lt.btn_close_app[local] }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

      </v-toolbar>

      <div id="wheel_container" style="width: 100%; height: 100%;">
        <v-container fluid style="max-width: 1270px; min-width: 1270px; position: absolute; top: 50%; margin-top: -300px; left: 50%; transform: translateX(-50%);">
          <v-row style="margin-top: -40px;">
            <v-col cols="12">
              <v-row>

                <div v-for="(profile_i, index) in slide.list" :key="index">
                  <v-hover v-if="profile_list[profile_i] != undefined" v-slot:default="{ hover }" open-delay="200">
                    <v-card v-on:dblclick="profile_start( profile_i)" :elevation="hover ? 16 : 2" style="width: 240px; margin: 18px 30px 0px 30px;" color="primary">
                      <v-img :src="profile_list[profile_i].img" aspect-ratio="1.2" :style="($vuetify.theme.dark) ? settings_theme.i_white : settings_theme.i_dark" alt="screen"></v-img>
                      <v-card style="padding: 4% 5% 20%; height: 120px;" outlined tile color="secondary">
                        <div style="padding: 0px 0px 1% 0px; /*max-width: 220px;*/"><b>{{ profile_list[profile_i].name }}</b></div>
                        <div>
                          <div class="float-left" style="max-width: 75%; font-size: small;">{{ profile_list[profile_i].desc }}</div>
                          <v-menu offset-y min-width="120">
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn v-bind="attrs" v-on="on" class="float-right" x-small rounded dark color="accent">
                                <v-icon dark>mdi-dots-horizontal</v-icon>
                              </v-btn>
                            </template>
                            <v-list>
                              <v-list-item v-show="profile_list[profile_i].thread_run" @click="">
                                <v-list-item-title v-on:click="browser_open( profile_list[profile_i].thread_id )">{{ lt.browser_open[local] }}</v-list-item-title>
                              </v-list-item>
                              <v-list-item @click="">
                                <v-list-item-title v-on:click="window_edit( profile_i)">{{ lt.window_edit[local] }}</v-list-item-title>
                              </v-list-item>
                              <v-list-item @click="">
                                <v-list-item-title v-on:click="profile_delete_dialog( profile_i )">{{ lt.profile_delete[local] }}</v-list-item-title>
                              </v-list-item>
                            </v-list>
                          </v-menu>
                        </div>
                      </v-card>
                      <v-progress-linear v-show="profile_list[profile_i].status.start" indeterminate color="green" class="float-right"></v-progress-linear>
                      <v-progress-linear v-show="profile_list[profile_i].status.delete" indeterminate color="red" class="float-right"></v-progress-linear>
                    </v-card>
                  </v-hover>
                </div>

              </v-row>
            </v-col>
          </v-row>
        </v-container>

      </div>

      <div style="top: 94%; position: fixed; left: 50%; margin-right: -50%; transform: translateX(-50%);">
        <v-pagination v-model="slide.page" @input="page_new()" :length="slide.count_page" circle></v-pagination>
      </div>
      
    </div>
    <div v-if="seen == 1">

      <v-toolbar height="25" style="background: rgba(255, 255, 255, 0); margin: 20px 10px 0px 0px;" flat>
        <v-spacer></v-spacer>
          <v-btn @click="profile_list[ profile_edit_data.num ].status.edit = false; window_main()" label  style="background: rgba(255, 255, 255, 0);" depressed>
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-toolbar>
      
      <v-row no-gutters style="margin: -20px 0px 0px 0px;" >
        <v-col md="8" offset-md="2">
          <v-col cols="12">
            <h2 style="padding: 10px 0px;">{{ lt.profile[local] }}</h2>

            <v-row>
              <v-col md="4">
                <v-img :src="profile_edit_data.img" aspect-ratio="1.1" :style="($vuetify.theme.dark) ? settings_theme.i_white : settings_theme.i_dark" alt="screen"></v-img>
              </v-col>
              <v-col>
                <v-text-field v-model="profile_edit_data.name" :label="`${ lt.profile_name[local] }`" ingle-line solo background-color="primary"></v-text-field>
                <v-text-field v-model="profile_edit_data.desc" :label="`${ lt.profile_desc[local] }`" ingle-line solo background-color="primary"></v-text-field>
              </v-col>
            </v-row>
          
          <v-col cols="12">
            <div class="d-flex flex-row mb-6">
              <h2 style="padding: 10px 0px;">{{ lt.proxy[local] }}</h2>
              <sup class="pa-2" :title="lt.proxy_help[local]">
                <v-icon small color="black">mdi-help-circle-outline</v-icon>
              </sup>
            </div>
            <v-card color="primary">
              <v-row style="padding: 0px 10px;" style="opacity: .7;">
                <v-col cols="auto">
                  {{ lt.proxy_server[local] }}
                  <input class="align-self-center" v-model="profile_edit_data.proxy.server">
                </v-col>
                <v-col cols="auto">
                  {{ lt.proxy_port[local] }}
                  <input class="align-self-center" v-model="profile_edit_data.proxy.port">
                </v-col>
                <v-col cols="auto">
                  {{ lt.proxy_type[local] }}
                  <button @click="profile_edit_data.proxy.type = 'http'; proxy_type = false;" v-show="proxy_type">socks5</button>
                  <button @click="profile_edit_data.proxy.type = 'socks5'; proxy_type = true;" v-show="!proxy_type">http</button>
                </v-col>
                <v-col cols="auto">
                  {{ lt.proxy_login[local] }}
                  <input v-model="profile_edit_data.proxy.login">
                </v-col>
                <v-col cols="auto">
                  {{ lt.proxy_pass[local] }}
                  <input v-model="profile_edit_data.proxy.pass">
                </v-col>
              </v-row>
            </v-card>
            <div class="d-flex mb-6" style="padding: 20px 0px 0px 0px;" flat tile>
              <div class="ml-auto" tile>
                <v-progress-circular v-if="wait_profile.proxy == true" indeterminate color="green"></v-progress-circular>
                <v-btn v-on:click="proxy_check(profile_edit_data.proxy)" large class="white--text mx-4" min-width="180" color="error"  :disabled="wait_profile.proxy">{{ lt.btn_proxy_check[local] }}</v-btn>
              </div>
            </div>            
          </v-col>

          <v-col cols="12">
            <div class="d-flex flex-row mb-6">
              <h2 style="padding: 10px 0px;">{{ lt.fp[local] }}</h2>
              <sup class="pa-2" :title="lt.fp_help[local]">
                <v-icon small color="black">mdi-help-circle-outline</v-icon>
              </sup>
            </div>
            <v-list style="background: rgba(255, 255, 255, 0);">
              <v-list-item class="grey lighten-3">
                <span class="font-weight-light" style="padding: 0px 20px;">{{ lt.fp_browser[local] }}</span>
                {{profile_edit_data.fingerprint.tags[1]}}
              </v-list-item>
              <v-list-item class="grey lighten-5">
                <span class="font-weight-light" style="padding: 0px 20px;">{{ lt.fp_system[local] }}</span>
                {{profile_edit_data.fingerprint.tags[3]}}
              </v-list-item>
              <v-list-item class="grey lighten-3">
                <span class="font-weight-light" style="padding: 0px 20px;">{{ lt.fp_lang[local] }}</span>

                <v-container v-show="profile_edit_data.show.lang == false">{{profile_edit_data.fp_user_param_echo.lang}}</v-container>
                <v-text-field v-show="profile_edit_data.show.lang == true" v-model="profile_edit_data.fp_user_param_echo.lang" ingle-line flat dense solo background-color="#fafafa"
                  style="transform: translateY(14px); width: -webkit-fill-available; padding-right: 10px;"></v-text-field>

              </v-list-item>
              <v-list-item class="grey lighten-5">
                <span class="font-weight-light" style="padding: 0px 20px;">{{ lt.fp_browser_height[local] }}</span>

                <v-container v-show="profile_edit_data.show.height == false">{{profile_edit_data.fp_user_param_echo.height}}</v-container>
                <v-text-field v-show="profile_edit_data.show.height == true" v-model="profile_edit_data.fp_user_param_echo.height" ingle-line flat dense solo background-color="primary"
                  style="transform: translateY(14px); width: -webkit-fill-available; padding-right: 10px;"></v-text-field>

              </v-list-item>
              <v-list-item class="grey lighten-3">
                <span class="font-weight-light" style="padding: 0px 20px;">{{ lt.fp_browser_width[local] }}</span>

                <v-container v-show="profile_edit_data.show.width == false">{{profile_edit_data.fp_user_param_echo.width}}</v-container>
                <v-text-field v-show="profile_edit_data.show.width == true" v-model="profile_edit_data.fp_user_param_echo.width" ingle-line flat dense solo background-color="#fafafa"
                  style="transform: translateY(14px); width: -webkit-fill-available; padding-right: 10px;"></v-text-field>

              </v-list-item>
              <v-list-item class="grey lighten-5">
                <span class="font-weight-light" style="padding: 0px 20px;">{{ lt.fp_user_agent[local] }}</span>

                <v-container v-show="profile_edit_data.show.ua == false">{{profile_edit_data.fp_user_param_echo.ua}}</v-container>
                <v-text-field v-show="profile_edit_data.show.ua == true" v-model="profile_edit_data.fp_user_param_echo.ua" ingle-line flat dense solo background-color="primary"
                  style="transform: translateY(14px); width: -webkit-fill-available; padding-right: 10px;"></v-text-field>

              </v-list-item>
              <v-list-item class="grey lighten-3" style="padding: 20px 0px;">
                <v-progress-circular v-if="wait_profile.fingerprint == true" indeterminate color="green"></v-progress-circular>
                <v-btn v-on:click="get_new_fp()" large class="white--text mx-4" color="error" :disabled="wait_profile.fingerprint">{{ lt.get_new_fp[local] }}</v-btn>
              </v-list-item>
            </v-list>
          </v-col>
          
          <v-col cols="12">
            <div class="d-flex mb-6" style="padding: 20px 0px;" flat tile>
              <div class="pa-2 d-flex flex-row mb-6" flat tile style="margin-left: -20px;">
                <v-btn v-on:click="dialog.profile_clear_data.show = true" large color="red" class="white--text mx-4" :disabled="wait_profile.edit">{{ lt.btn_profile_clear_data[local] }}</v-btn>
                <sup class="pa-2" :title="lt.profile_clear_data_help[local]" style="margin-left: -20px;margin-top: -10px;">
                  <v-icon small color="black">mdi-help-circle-outline</v-icon>
                </sup>
              </div>
              <div class="pa-2 ml-auto" flat tile>
                <v-progress-circular v-if="wait_profile.edit == true" indeterminate color="green"></v-progress-circular>
                <v-btn v-on:click="wait_profile.edit = true; profile_edit()" large color="error" class="white--text mx-4" :disabled="wait_profile.edit">{{ lt.btn_apply[local] }}</v-btn>
                <v-btn v-on:click="window_main()" large class="grey darken-1 white--text" :disabled="wait_profile.edit">{{ lt.btn_cancel[local] }}</v-btn>
              </div>
            </div>
          </v-col>

            
        </v-col>
      </v-row>
      
    </div>
    <div v-if="seen == 2">

      <v-toolbar height="25" style="background: rgba(255, 255, 255, 0); margin: 20px 10px 0px 0px;" flat>
        <v-spacer></v-spacer>
          <v-btn @click="window_main()" label  style="background: rgba(255, 255, 255, 0);" depressed>
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-toolbar>

      <v-row no-gutters style="margin: -20px 0px 0px 0px;">
        <v-col md="8" offset-md="2" >

          <v-col cols="12" v-if="new_profile.type == 'normal'">
            <h2 style="padding: 20px 0px;">{{ lt.profile[local] }}</h2>
            <v-text-field v-model="new_profile.name" :label="`${ lt.profile_name[local] }`" counter="22" :rules="[v => v.length <= 22 || 'Max 22 characters']" ingle-line solo background-color="primary"></v-text-field>
            <v-text-field v-model="new_profile.desc" :label="`${ lt.profile_desc[local] }`" counter="44" :rules="[v => v.length <= 44 || 'Max 44 characters']" ingle-line solo background-color="primary"></v-text-field>
          </v-col>
            
          <v-col cols="12">
            <div class="d-flex flex-row mb-6">
              <h2 style="padding: 10px 0px;">{{ lt.fp_properties[local] }}</h2>
              <sup class="pa-2" :title="lt.fp_properties_help[local]">
                <v-icon small color="black">mdi-help-circle-outline</v-icon>
              </sup>
            </div>

            <v-row align="center" justify="start" class="white">
              <v-col v-for="(selection, i) in selections_system" :key="selection" class="shrink">
                <v-chip :disabled="loading" close @click:close="new_profile.system.splice(i, 1); btn_fp_post();" color="black" close-icon="close" class="black white--text" label>
                  {{ selection }}
                </v-chip>
              </v-col>
            </v-row>
            <v-divider v-if="!allSelected"></v-divider>
            <div align="center" justify="start">
              <template v-for="item in sys_tags">
                <v-chip v-if="!new_profile.system.includes(item)" :key="item" :disabled="loading" @click="new_profile.system.push(item); btn_fp_post(item);" class="white black--text" style="margin: 5px; padding: 20px;" label>
                  {{item}}
                </v-chip>
              </template>
            </div>

          </v-col>
 
          <v-col cols="12" v-if="new_profile.type != 'normal'">
            <div class="d-flex flex-row mb-6">
              <h2 style="padding: 10px 0px;">{{ lt.proxy[local] }}</h2>
              <sup class="pa-2" :title="lt.proxy_help[local]">
                <v-icon small color="black">mdi-help-circle-outline</v-icon>
              </sup>
            </div>
            <v-card color="primary">
              <v-row style="padding: 0px 10px;" style="opacity: .7;">
                <v-col cols="auto">
                  {{ lt.proxy_server[local] }}
                  <input class="align-self-center" v-model="new_profile.proxy.server">
                </v-col>
                <v-col cols="auto">
                  {{ lt.proxy_port[local] }}
                  <input class="align-self-center" v-model="new_profile.proxy.port">
                </v-col>
                <v-col cols="auto">
                  {{ lt.proxy_type[local] }}
                  <button @click="new_profile.proxy.type = 'http'; proxy_type = false;" v-show="proxy_type">socks5</button>
                  <button @click="new_profile.proxy.type = 'socks5'; proxy_type = true;" v-show="!proxy_type">http</button>
                </v-col>
                <v-col cols="auto">
                  {{ lt.proxy_login[local] }}
                  <input v-model="new_profile.proxy.login">
                </v-col>
                <v-col cols="auto">
                  {{ lt.proxy_pass[local] }}
                  <input v-model="new_profile.proxy.pass">
                </v-col>
              </v-row>
            </v-card>
            <div class="d-flex mb-6" style="padding: 20px 0px 0px 0px;" flat tile>
              <div class="ml-auto" tile>
                <v-progress-circular v-if="wait_profile.proxy == true" indeterminate color="green"></v-progress-circular>
                <v-btn v-on:click="proxy_check(new_profile.proxy)" large class="white--text mx-4" min-width="180" color="error"  :disabled="wait_profile.proxy">{{ lt.btn_proxy_check[local] }}</v-btn>
              </div>
            </div>            
          </v-col>          

          <v-col cols="12">
            <div class="d-flex flex-row mb-6">
              <h2 style="padding: 10px 0px;">IdealCanvas</h2>
              <sup class="pa-2" :title="lt.perfrct_canvas_help[local]">
                <v-icon small color="black">mdi-help-circle-outline</v-icon>
              </sup>
            </div>
            <v-text-field v-model="new_profile.perfrct_canvas_url" :label="`${ lt.perfrct_canvas[local] }`" ingle-line solo background-color="primary" outlined></v-text-field>
            <v-btn v-show="new_profile.perfrct_canvas_url.length > 0" v-on:click="wait_profile.perfrct_canvas = true; get_perfrct_canvas()" large class=" white--text mx-4" color="error" :disabled="wait_profile.perfrct_canvas">{{ lt.get_perfrct_canvas[local] }}</v-btn>
            <v-progress-circular v-if="wait_profile.perfrct_canvas == true" indeterminate color="green"></v-progress-circular>
          </v-col>
          
          <v-col cols="12">
            <div class="d-flex flex-row mb-6">
              <h2 style="padding: 10px 0px;">{{ lt.fp_browser_min[local] }}</h2>
              <sup class="pa-2" :title="lt.fp_browser_min_help[local]">
                <v-icon small color="black">mdi-help-circle-outline</v-icon>
              </sup>
            </div>
            <v-text-field v-model="new_profile.browser_min" label="" ingle-line solo background-color="primary"></v-text-field>
          </v-col>

          <v-col cols="12">
            <div class="d-flex flex-row mb-6">
              <h2 style="padding: 10px 0px;">{{ lt.browser_cookies[local] }}</h2>
              <sup class="pa-2" :title="lt.browser_cookies_help[local]">
                <v-icon small color="black">mdi-help-circle-outline</v-icon>
              </sup>
            </div>
            <v-text-field v-on:click="select_dir()" v-model="new_profile.path_cookie" :label="`${ lt.browser_cookies_dir[local] }`" show-size ingle-line solo></v-text-field>
          </v-col>
          
          <div class="d-flex mb-6" style="padding: 20px 0px;" flat tile>
            <div class="pa-2 ml-auto" flat tile>
              <v-progress-circular v-if="wait_profile.create == true" indeterminate color="green"></v-progress-circular>
              <v-btn v-on:click="wait_profile.create = true; profile_create_router()" large class=" white--text mx-4" color="error" :disabled="wait_profile.create">{{ lt.btn_apply[local] }}</v-btn>
              <v-btn v-on:click="window_main()" large class="grey darken-1 white--text" :disabled="wait_profile.create">{{ lt.btn_cancel[local] }}</v-btn>
            </div>
          </div>
            
        </v-col>
      </v-row>
      
    </div>

    <v-dialog v-model="dialog.show" width="500">
      <v-card color="primary" color="#FAFAFA">
        <v-toolbar height="25px" flat color="secondary">
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon @click="dialog.show = 0">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text style="padding: 30px;" class="black--text">
          {{dialog.msg}}
          <pre>{{ dialog.e }}</pre>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog_settings" width="500">
      <v-card min-height="300" color="#FAFAFA">
        <v-toolbar height="25px" flat color="secondary">
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon @click="dialog_settings = 0">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <div style="padding: 10px;">
          <v-card-title class="black--text"><b>{{ lt.settings_2[local] }}</v-card-title>
          <v-card-actions>
            <v-select light v-model="settings_lang.select" :items="settings_lang.list" :label="`${ lt.select_lang[local] }`" outlined>
          </v-card-actions>
          <v-card-actions>
            <v-select light v-model="settings_lang.browser" :items="settings_lang.list_browser[local]" :label="`${ lt.select_lang_browser[local] }`" outlined>
          </v-card-actions>
          <div v-show="settings_lang.browser_show">
            <v-card-text class="red--text" style="margin-top: -30px; max-width: 390px;">
              {{ lt.lang_browser_help[local] }}
            </v-card-text>
            <v-card-actions style="margin-top: -70px; padding-bottom: 40px;">
              <v-spacer></v-spacer>
              <v-btn v-on:click="close_app()" large class="grey darken-1 white--text" >{{ lt.btn_close_app[local] }}</v-btn>
            </v-card-actions>
          </div>
          <v-card-actions>
            <v-select light v-model="settings_theme.select_show" :items="settings_theme.list[local]" :label="`${ lt.select_theme[local] }`" outlined>
          </v-card-actions>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn v-on:click="lang_change(); lang_change_browser(); settings_theme.select = settings_theme.select_show; theme_change();" large class="white--text" color="error">{{ lt.btn_apply[local] }}</v-btn>
            <v-btn v-on:click="dialog_settings = false" large class="grey darken-1 white--text" >{{ lt.btn_cancel[local] }}</v-btn>
          </v-card-actions>
        </div>

      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog.profile_delete.show" width="500">
      <v-card  color="#FAFAFA">
        <v-toolbar height="25px" flat color="secondary">
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon @click="dialog.profile_delete.show = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <div style="padding: 10px;">
          <v-card-text class="black--text"><b>{{ lt.profile_delete_dialog[local] }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-progress-circular v-if="dialog.profile_delete.wait == true" indeterminate color="red"></v-progress-circular>
            <v-btn v-on:click="dialog.profile_delete.wait = true; profile_delete();" large class="white--text" color="error">{{ lt.btn_apply[local] }}</v-btn>
            <v-btn v-on:click="dialog.profile_delete.show = false" large class="grey darken-1 white--text" >{{ lt.btn_cancel[local] }}</v-btn>
          </v-card-actions>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog.profile_clear_data.show" width="500">
      <v-card  color="#FAFAFA">
        <v-toolbar height="25px" flat color="secondary">
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon @click="dialog.profile_clear_data.show = false" :disabled="dialog.profile_clear_data.wait">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <div style="padding: 10px;">
          <v-card-text class="black--text"><b>{{ lt.profile_clear_data_dialog[local] }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-progress-circular v-if="dialog.profile_clear_data.wait == true" indeterminate color="red" style="margin-right: 10px;"></v-progress-circular>
            <v-btn v-on:click="dialog.profile_clear_data.wait = true; profile_clear_data();" large class="white--text" color="error" :disabled="dialog.profile_clear_data.wait">{{ lt.btn_apply[local] }}</v-btn>
            <v-btn v-on:click="dialog.profile_clear_data.show = false" large class="grey darken-1 white--text" :disabled="dialog.profile_clear_data.wait">{{ lt.btn_cancel[local] }}</v-btn>
          </v-card-actions>
        </div>
      </v-card>
    </v-dialog>

  </v-app>
</main>
<script id="canvas_js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<!--
https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js

https://cdn.jsdelivr.net/npm/vue
https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js
-->


<script>
window.demo_test = true;
function fp_r(){
  return {"valid":true,"payload":"(function(){var refs={};;var aliases={};aliases[\"window.navigator.userAgent\"] = eval(\"window.navigator.userAgent\");aliases[\"window.navigator\"] = eval(\"window.navigator\");aliases[\"window.navigator.language\"] = eval(\"window.navigator.language\");aliases[\"window.navigator.languages\"] = eval(\"window.navigator.languages\");aliases[\"window.navigator.geolocation\"] = eval(\"window.navigator.geolocation\");aliases[\"window.navigator.webkitTemporaryStorage\"] = eval(\"window.navigator.webkitTemporaryStorage\");aliases[\"window.navigator.webkitPersistentStorage\"] = eval(\"window.navigator.webkitPersistentStorage\");aliases[\"window.navigator.getBattery\"] = eval(\"window.navigator.getBattery\");aliases[\"window.navigator.sendBeacon\"] = eval(\"window.navigator.sendBeacon\");aliases[\"window.navigator.getGamepads\"] = eval(\"window.navigator.getGamepads\");aliases[\"window.navigator.javaEnabled\"] = eval(\"window.navigator.javaEnabled\");aliases[\"window.navigator.vibrate\"] = eval(\"window.navigator.vibrate\");aliases[\"window.navigator.permissions\"] = eval(\"window.navigator.permissions\");aliases[\"window.navigator.credentials\"] = eval(\"window.navigator.credentials\");aliases[\"window.navigator.mediaDevices\"] = eval(\"window.navigator.mediaDevices\");aliases[\"window.navigator.serviceWorker\"] = eval(\"window.navigator.serviceWorker\");aliases[\"window.navigator.storage\"] = eval(\"window.navigator.storage\");aliases[\"window.navigator.presentation\"] = eval(\"window.navigator.presentation\");aliases[\"window.navigator.requestMediaKeySystemAccess\"] = eval(\"window.navigator.requestMediaKeySystemAccess\");aliases[\"window.navigator.getUserMedia\"] = eval(\"window.navigator.getUserMedia\");aliases[\"window.navigator.webkitGetUserMedia\"] = eval(\"window.navigator.webkitGetUserMedia\");aliases[\"window.navigator.registerProtocolHandler\"] = eval(\"window.navigator.registerProtocolHandler\");aliases[\"window.navigator.unregisterProtocolHandler\"] = eval(\"window.navigator.unregisterProtocolHandler\");aliases[\"window.navigator.requestMIDIAccess\"] = eval(\"window.navigator.requestMIDIAccess\");;})();","plugins":[{"ref":842281895,"description":"Portable Document Format","filename":"internal-pdf-viewer","name":"Chrome PDF Plugin","mimes":[-1628473889]},{"ref":1010824838,"description":"","filename":"mhjfbmdgcfjbbpaeojofohoefgiehjai","name":"Chrome PDF Viewer","mimes":[-1248334925]},{"ref":-1466093580,"description":"","filename":"internal-nacl-plugin","name":"Native Client","mimes":[1154639664,1436323448]}],"mimes":[{"ref":-1248334925,"description":"","suffixes":"pdf","type":"application/pdf","plugin":1010824838},{"ref":-1628473889,"description":"Portable Document Format","suffixes":"pdf","type":"application/x-google-chrome-pdf","plugin":842281895},{"ref":1154639664,"description":"Native Client Executable","suffixes":"","type":"application/x-nacl","plugin":-1466093580},{"ref":1436323448,"description":"Portable Native Client Executable","suffixes":"","type":"application/x-pnacl","plugin":-1466093580}],"ua":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.113 Safari/537.36","tags":["Microsoft Windows","Chrome","Desktop","Windows 10"],"dnt":false,"width":1600,"height":789,"canvas":"f9e496606ff03c50313b2e98d2a4becda87408d8de535cb33d84f62ceace65e7ca0066f9176d2f0fd2de673323a5f749ab7aa526fa15b1b6928f3a92ffe72b0680837d8083807f7d7d7c807d7e7c7d81817e7b817f7d7f837e7b827d7e817f7c82817e7b7b827e7d837b8080807f7f7c817d83","webgl":"60c6473109d7e2094595e67439121711ee30625611e332f62cb9acd1f3db10a1005361fffe3754bd63df0a3e41c02af374534eda58aa6b671661768b9782500980837d8083807f7d7d7c807d7e7c7d81817e7b817f7d7f837e7b827d7e817f7c82817e7b7b827e7d837b8080807f7f7c817d83","rectangles":"d02c62633b30368a5cd667d2508a8af738c61997051600b8178006402162825d07bfa814b3cac3a2fa8d0aaee403752dfb0c3d09f55f3c18c1607996d0f03901bc38feffec010100177e000067c4f8ffec93020071d20400501f050034350400c649faff2b7a04006506fcff10ddfaff638c0300d5c30400da3bffff9ed50400b1cffdff647c050086faf9ffb23afbffe7f201002d27040098b8feff9560f8ff36d904007999f8ff8e800200997afeffc42401003c7efbff4aa30300a783fffffeebf8ff4c61fdff8e5afaff3c3bfcff87900300c2e10400bee300005ff1faffeadbfdff2697f9ff74f4feff1ac6f8ff6da0fdffbc9effff06fbf9ff71aefcffba6500003eddfeff856605006dc3faffaf5afdff6ee90100d164f9ff48daf8ff3e210000b628fcff56ca000053c204009756000008ed0200f332fcff5a3e0200","audio":"b1463fef85e11056ffe8bbb66a8b133c16f7731c75b8c6bf79df271153667f170a2b45fe6b993fe7b20c5470d1bedac4624455d1dc4a9e3826751e05e5ac2402718082908e808182758d6f7b856b6d6f916e6b8d6b8c7b8c797a768b8193877d78728c79807e8b828f74767074748d867f857b6d91769278928c936d82887b7b87746c6b867782858277756d7c85888b727e8c85738778747c809090847883827f7c8280","battery":"8b8aa64ae1fd58b60b4003cc54573ec23406df271bdae407bd01f17e4195a2dcf167575a592942d5dd3bb7d8225879c5190526feecb6923648ad8c7363d3b709148459c7381457","has_battery_api":true,"has_battery_device":false,"webgl_properties":{"unmaskedVendor":"Google Inc.","unmaskedRenderer":"ANGLE (Intel(R) HD Graphics 4000 Direct3D11 vs_5_0 ps_5_0)","vendor":"WebKit","renderer":"WebKit WebGL","alphaBits":"8","blueBits":"8","depthBits":"24","greenBits":"8","maxCombinedTextureImageUnits":"32","maxCubeMapTextureSize":"16384","maxFragmentUniformVectors":"1024","maxRenderBufferSize":"16384","maxTextureImageUnits":"16","maxTextureSize":"16384","maxVaryingVectors":"30","maxVertexAttribs":"16","maxVertexTextureImageUnits":"16","maxVertexUniformVectors":"4096","redBits":"8","stencilBits":"0","extensions":"ANGLE_instanced_arrays,EXT_blend_minmax,EXT_color_buffer_half_float,EXT_disjoint_timer_query,EXT_float_blend,EXT_frag_depth,EXT_shader_texture_lod,EXT_texture_filter_anisotropic,WEBKIT_EXT_texture_filter_anisotropic,EXT_sRGB,KHR_parallel_shader_compile,OES_element_index_uint,OES_fbo_render_mipmap,OES_standard_derivatives,OES_texture_float,OES_texture_float_linear,OES_texture_half_float,OES_texture_half_float_linear,OES_vertex_array_object,WEBGL_color_buffer_float,WEBGL_compressed_texture_s3tc,WEBKIT_WEBGL_compressed_texture_s3tc,WEBGL_compressed_texture_s3tc_srgb,WEBGL_debug_renderer_info,WEBGL_debug_shaders,WEBGL_depth_texture,WEBKIT_WEBGL_depth_texture,WEBGL_draw_buffers,WEBGL_lose_context,WEBKIT_WEBGL_lose_context","shadingLanguage":"WebGL GLSL ES 1.0 (OpenGL ES GLSL ES 1.0 Chromium)","version":"WebGL 1.0 (OpenGL ES 2.0 Chromium)","maxAnisotropy":"16"},"audio_properties":{"BaseAudioContextSampleRate":48000,"AudioContextBaseLatency":0.01,"AudioDestinationNodeMaxChannelCount":2},"fonts":["Arial","Arial Black","Arial Narrow","Book Antiqua","Bookman Old Style","Calibri","Cambria","Cambria Math","Century","Century Gothic","Century Schoolbook","Comic Sans MS","Consolas","Courier","Courier New","Garamond","Georgia","Helvetica","Impact","Lucida Bright","Lucida Calligraphy","Lucida Console","Lucida Fax","Lucida Handwriting","Lucida Sans","Lucida Sans Typewriter","Lucida Sans Unicode","Microsoft Sans Serif","Monotype Corsiva","MS Gothic","MS PGothic","MS Reference Sans Serif","MS Sans Serif","MS Serif","Palatino Linotype","Segoe Print","Segoe Script","Segoe UI","Segoe UI Light","Segoe UI Semibold","Segoe UI Symbol","Tahoma","Times","Times New Roman","Trebuchet MS","Verdana","Wingdings","Wingdings 2","Wingdings 3","Agency FB","Algerian","Baskerville Old Face","Bauhaus 93","Bell MT","Berlin Sans FB","Bernard MT Condensed","Blackadder ITC","Bodoni MT","Bodoni MT Black","Bodoni MT Condensed","Bookshelf Symbol 7","Bradley Hand ITC","Broadway","Brush Script MT","Californian FB","Calisto MT","Candara","Castellar","Centaur","Chiller","Colonna MT","Constantia","Cooper Black","Copperplate Gothic","Copperplate Gothic Light","Corbel","Curlz MT","Ebrima","Edwardian Script ITC","Elephant","Engravers MT","EucrosiaUPC","Felix Titling","Footlight MT Light","Forte","Freestyle Script","French Script MT","Gabriola","Gigi","Gill Sans MT","Gill Sans MT Condensed","Goudy Old Style","Goudy Stout","Haettenschweiler","Harrington","High Tower Text","Imprint MT Shadow","Informal Roman","Jokerman","Juice ITC","Kristen ITC","Kunstler Script","Leelawadee","Magneto","Maiandra GD","Malgun Gothic","Marlett","Matura MT Script Capitals","Microsoft Himalaya","Microsoft JhengHei","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Uighur","Microsoft YaHei","Microsoft Yi Baiti","MingLiU_HKSCS-ExtB","MingLiU-ExtB","Mistral","Modern No. 20","Mongolian Baiti","MS Reference Specialty","MS UI Gothic","MT Extra","MV Boli","Niagara Engraved","Niagara Solid","NSimSun","Old English Text MT","Onyx","Palace Script MT","Papyrus","Parchment","Perpetua","Perpetua Titling MT","Playbill","PMingLiU-ExtB","Poor Richard","Pristina","Ravie","Rockwell","Rockwell Condensed","Showcard Gothic","SimSun","SimSun-ExtB","Snap ITC","Stencil","Sylfaen","Tempus Sans ITC","Tw Cen MT","Tw Cen MT Condensed","Viner Hand ITC","Vivaldi","Vladimir Script","Wide Latin"],"headers":["Host","X-Real-Ip","X-Forwarded-For","Connection","Content-Length","Cache-Control","Accept-Datetime","X-Csrf-Token","If-Unmodified-Since","Authorization","X-Requested-With","If-Modified-Since","X-Http-Method-Override","X-Request-Id","Pragma","Upgrade-Insecure-Requests","User-Agent","Range","Content-Type","Max-Forwards","If-None-Match","If-Match","If-Range","Accept","Origin","Sec-Fetch-Site","Sec-Fetch-Mode","Sec-Fetch-Dest","Referer","Accept-Encoding","Accept-Language"],"lang":"ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7","native_code":"function Object() { [native code] }","connection":{"effectiveType":"4g","rtt":100,"downlink":10,"saveData":false},"attr":{"navigator.vendorSub":"","navigator.productSub":"20030107","navigator.vendor":"Google Inc.","navigator.appCodeName":"Mozilla","navigator.appName":"Netscape","navigator.appVersion":"5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.113 Safari/537.36","navigator.platform":"Win32","navigator.product":"Gecko","navigator.userAgent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.113 Safari/537.36","screen.availHeight":860,"screen.availWidth":1600,"screen.width":1600,"screen.height":900,"screen.colorDepth":24,"screen.pixelDepth":24,"screen.availLeft":0,"screen.availTop":0,"outerHeight":860,"outerWidth":1600,"hardwareConcurrency":4,"maxTouchPoints":0,"deviceMemory":4,"window.devicePixelRatio":1},"orientation":{"angle":0,"type":"landscape-primary"},"doNotTrack":null};
}

function ex_data(){
  let fp_s = JSON.stringify( fp_r() );
  let st = {
    'start': false,
    'delete': false,
    'edit': false
  };
  return [
          {id: "5f7763ad12db6ce42b078f1d", name: "dtdtyhd6d6u6utd6uhsyhyt", desc: "dtdtyhd6d6u6utd6uhsyhytdtdtyhd6d6u6utd6uhsyhyt", img: "C:\5f7763ad12db6ce42b078f1dscreen.png", proxy: {type: "",server: "",port: "",login: "",pass: ""},fingerprint: fp_s, status: st},
          {id: 1, name: "Title name  2", desc: "description 2", img: 'https://picsum.photos/500/200?random', proxy: {type: "http"},fingerprint: fp_s, status: st},
          {id: 2, name: "Title name  3", desc: "description 2", img: 'https://picsum.photos/501/200?random', proxy: {type: "http"},fingerprint: fp_s, status: st},
          {id: 3, name: "Title name  4", desc: "description 2", img: 'https://picsum.photos/502/200?random', proxy: {type: "http"},fingerprint: fp_s, status: st},
          {id: 4, name: "Title name  5", desc: "description 2", img: 'https://picsum.photos/syhg5tyhs4ws5yw45y', proxy: {type: "http"},fingerprint: fp_s, status: st},
          {id: 5, name: "Title name  6", desc: "description 2", img: 'https://picsum.photos/503/200?random', proxy: {type: "http"},fingerprint: fp_s, status: st},
          {id: 6, name: "Title name  7", desc: "description 2", img: 'https://picsum.photos/504/200?random', proxy: {type: "http"},fingerprint: fp_s, status: st},
          {id: 7, name: "Title name  8", desc: "description 2", img: 'https://picsum.photos/505/200?random', proxy: {type: "http"},fingerprint: fp_s, status: st},
          {id: 8, name: "Title name 9", desc: "description 2", img: 'https://picsum.photos/506/200?random', proxy: {type: "http"},fingerprint: fp_s, status: st},
          {id: 9, name: "Title name  10", desc: "description 2", img: 'https://picsum.photos/507/200?random', proxy: {type: "http"},fingerprint: fp_s, status: st},
          {id: 10, name: "Title name  11", desc: "description 2", img: 'https://picsum.photos/508/200?random', proxy: {type: "http"},fingerprint: fp_s, status: st},
        ];
}
</script>

<script>
  window.addEventListener('scroll', wrap_height_min);
  scroll(0,0);
  function wrap_height_min(){
    min_height()
    window.removeEventListener('scroll', wrap_height_min);
  }
  function min_height(){
    document.getElementById("main").style.height = "100%";
    document.getElementById("canvas").style.height = "100%";
    document.getElementById("inspire").style.height = "100%";
    document.getElementById("star").style.height = "100%";
    document.getElementById("b_img").style.height = "100%";
    let height = Math.max(
      document.body.scrollHeight, document.documentElement.scrollHeight,
      document.body.offsetHeight, document.documentElement.offsetHeight,
      document.body.clientHeight, document.documentElement.clientHeight
    );
    // document.getElementById("main").style.height = height + "px";
    // document.getElementById("canvas").style.height = height + "px";
    // document.getElementById("inspire").style.height = height + "px";
    // document.getElementById("star").style.height = height + "px";
    // document.getElementById("b_img").style.height = height + "px";
  }
  function theme_data(select){
    switch( select ){
        case "Светлая":
        case "Light":
          var style = {
            dark: false,
            "background-color": "#fafafa",
            background: "url('https://db-artsam.ru/images/white_theme_background_1.jpg') no-repeat",
            theme: {
              primary: '#c4c4c4',
              secondary: '#ededed',
              accent: '#FF5252',
              error: '#BDBDBD',
              info: '#BDBDBD',
              success: '#4CAF50',
              warning: '#FFC107',
            },
            search_text_color: "grey",
            header_color: 'background-color: rgba(0, 0, 0, 0);',
            search_background_color: 'rgba(224, 224, 224, 0.4)'
          }
          break;

        case "Тёмная":
        case "Dark":
          var style = {
            dark: true,
            type: "dark",
            "background-color": "#242424",
            background: "url('http://db-artsam.ru/images/dark_theme.jpg') round",
            theme: {
              primary: '#545454',
              secondary: '#545454',
              accent: '#0098e5',
              error: '#545454',
              info: '#757575',
              success: '#4CAF50',
              warning: '#FFC107',
            },
            header_color: 'background-color: rgba(0, 0, 0, 0);',
            search_background_color: 'rgba(84, 84, 84, 0.3)'
          }
          break;

        case "Cube": // codepen.io/mladen___/pen/gbvqBo
          var style = {
            dark: true,
            "background-color": '#FAFAFA',
            background: "",
            theme: {
              primary: '#2c343f',
              secondary: '#273039',
              accent: '#5CD3AD',
              error: '#FCC757',
              info: '#273039',
              success: '#4CAF50',
              warning: '#FFC107',
            },
            header_color: 'background-color: rgba(0, 0, 0, 0);',
            search_background_color: 'rgba(44, 52, 63, 0.3)'
          }
          break;

        case "Space":// codepen.io/saransh/pen/BKJun 
          var style = {
            dark: true,
            "background-color": '#FAFAFA',
            background: "background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);",
            theme: {
              primary: '#2c343f',
              secondary: '#2c343f',
              accent: '#09b1bc',
              error: '#2c343f',
              info: '#1d1d1d',
              success: '#4CAF50',
              warning: '#FFC107',
            },
            header_color: 'background-color: rgba(0, 0, 0, 0);',
            search_background_color: 'rgba(59, 59, 59, 0.2)'
          }
        break;

        case "YOD Space":
          var style = {
            dark: true,
            "background-color": '#2c2d44',
            background: "url('https://db-artsam.ru/images/background_yod_space.png') no-repeat",
            theme: {
              primary: '#4c3970',
              secondary: '#372854',
              accent: '#00bcff',
              error: '#4c3970',
              info: '#1d1d1d',
              success: '#4CAF50',
              warning: '#FFC107',
            },
            header_color: 'background-color: rgba(0, 0, 0, 0);',
            search_background_color: 'rgba(52, 47, 73, 0.2)'
          }
        break;

        case "Розовая":
        case "Pink":
          var style = {
            dark: true,
            "background-color": '#FCE4EC',
            background: "url('https://db-artsam.ru/images/pink.jpg') no-repeat",
            theme: {
              primary: '#ff9f93',   // поиск
              secondary: '#ffa79e', // описание профиля
              accent: '#fc4e4c',    // добавить профиль
              error: '#ff9f93',     // навигация
              info: '#fedbd7',      // верхняя полоса
              success: '#4CAF50',   
              warning: '#FFC107',   
            },
            header_color: 'background-color: rgba(0, 0, 0, 0);',
            search_background_color: 'rgba(255, 125, 111, 0.2)' // цвет фона строки поиска
          }
          break;

        // default:
        //   alert('Результат выглядит странновато. Честно.');
      }
    return style;
  }
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  async function activator_particleground(){
    // particleground(document.getElementById('particles-foreground'), {
    //   dotColor: 'rgba(255, 255, 255, 1)',
    //   lineColor: 'rgba(255, 255, 255, 0.05)',
    //   minSpeedX: 0.3,
    //   maxSpeedX: 0.6,
    //   minSpeedY: 0.3,
    //   maxSpeedY: 0.6,
    //   density: 50000, // One particle every n pixels
    //   curvedLines: false,
    //   proximity: 250, // How close two dots need to be before they join
    //   parallaxMultiplier: 10, // Lower the number is more extreme parallax
    //   particleRadius: 4, // Dot size
    // });

    // particleground(document.getElementById('particles-background'), {
    //   dotColor: 'rgba(255, 255, 255, 0.5)',
    //   lineColor: 'rgba(255, 255, 255, 0.05)',
    //   minSpeedX: 0.075,
    //   maxSpeedX: 0.15,
    //   minSpeedY: 0.075,
    //   maxSpeedY: 0.15,
    //   density: 30000, // One particle every n pixels
    //   curvedLines: false,
    //   proximity: 20, // How close two dots need to be before they join
    //   parallaxMultiplier: 20, // Lower the number is more extreme parallax
    //   particleRadius: 2, // Dot size
    // });
  }
  function disableScrolling(){
    document.documentElement.style.overflow = 'hidden';
  }
  function enableScrolling(){
    document.documentElement.style.overflow = 'auto';
  }
</script>

<!-- http://127.0.0.1:5500/wi-demo.html -->

<script>
window.app = new Vue({
  el: '#main',
  vuetify: new Vuetify({
    theme: {
      themes: {
        light: {
          primary: '#EEEEEE',
          secondary: '#BDBDBD',
          accent: '#FF5252',
          error: '#FF5252',
          info: '#BDBDBD',
          success: '#4CAF50',
          warning: '#FFC107',
        },
      },
    },
  }),
  data: {
    h: 2000,
    seen: 0,
    main_menu: false,
    profile_list: [],
    profile_edit_data: {
      show: {
        ua: false,
        width: false,
        height: false,
        lang: false
      },
      fp_user_param: {
        fp_change: false,
        lang: "",
        screen_height: "",
        screen_width: "",
        ua: ""
      },
      fp_user_param_echo: {
        lang: "",
        screen_height: "",
        screen_width: "",
        ua: ""
      }
    },
    alignment: 'start', //'start','center',end','baseline','stretch',
    justify: 'start',
    dense: false,
    new_profile: {age: '*', system: ['*'], browser_min: '*', perfrct_canvas: '', name: '', desc: '', path_cookie: '', perfrct_canvas_url: ''},
    sys_tags: [
        '*',
        'Desktop',
        'Mobile',
        'Microsoft Windows',
        'Windows 10',
        'Windows 7',
        'Windows 8',
        'Linux',
        'Apple Mac',
        'Android',
        'iPad',
        'iPhone',
        'Microsoft Windows Phone',
        'Edge',
        'IE',
        'Firefox',
        'Safari',
        'Chrome',
        'YaBrowser',
      ],
    loading: false,
    profile: "",
    proxy_type: true,
    wait_profile: {create: false, edit: false, proxy: false, fingerprint: false, perfrct_canvas: false},
    search_text: "",
    slide: {
      page: 1,
      count_page: 1,
      list: [],
      search_result: [],
    },
    dialog: {
      msg: "", e: "", show: false,
      profile_delete: {show: false, id: 0, wait: false},
      profile_clear_data: {show: false, wait: false},
    },
    dialog_settings: false,
    color_t: "",
    settings_theme: {
      select: "YOD Space",
      select_show: "YOD Space",
      t: false,
      list: {
        ru: ["YOD Space","Светлая","Тёмная","Cube","Space","Розовая"],
        en: ["YOD Space","Light","Dark","Cube","Space","Pink"],
      },
      header_style: 'background-color: rgb(189, 189, 189);',
      i_white: "background: url('https://db-artsam.ru/images/default_white_image.jpg') center no-repeat RGB(255, 255, 255);",
      i_dark: "background: url('https://db-artsam.ru/images/default_dark_image.jpg') center no-repeat rgb(50,50,50);",
    },
    settings_lang: {
      select: "Русский",
      browser: "English",
      browser_current: "English",
      browser_show: false,
      list: ["Русский","English"],
      list_browser: {
        ru: ["Русский","Английский"],
        en: ["English","Russian"]
      }
    },
    local: 'ru',
    lt: {
      lang_browser_help:{
        ru: "Изменение языка интерфейса браузера вступит в силу после перезапуска приложения",
        en: 'Changing the browser interface language will take effect after restarting the application',
      },
      select_lang_browser:{
        ru: "Выберете язык интерфейса браузера",
        en: 'Select the language of the browser interface',
      },
      create_help:{
        ru: "Обычный Профиль",
        en: 'Quick Profile',
      },
      create_fast_help:{
        ru: "Быстрый Профиль",
        en: 'Quick Profile',
      },
      browser_open:{
        ru: "Открыть",
        en: 'Open',
      },
      profile_clear_data_true:{
        ru: "Очистка профиля прошла успешно",
        en: 'Очистка профиля прошла успешно',
      },
      error_profile_clear_data:{
        ru: "Очистка профиля закончилась с ошибкой",
        en: 'Очистка профиля закончилась с ошибкой',
      },
      btn_profile_clear_data:{
        ru: "ОЧИСТИТЬ ДАННЫЕ ПРОФИЛЯ",
        en: 'ОЧИСТИТЬ ДАННЫЕ ПРОФИЛЯ',
      },
      profile_clear_data_dialog:{
        ru: "Вы уверены, что хотите очистить данные профиля?",
        en: 'Вы уверены, что хотите очистить данные профиля?',
      },
      profile_clear_data_help:{
        ru: "profile_clear_data_help",
        en: 'profile_clear_data_help',
      },
      profile_delete_dialog:{
        ru: "Вы уверены, что хотите удалить свой профиль?",
        en: 'Вы уверены, что хотите удалить свой профиль?',
      },
      error_proxy_check_none: {
        ru: "Сервер или порт прокси не указан.",
        en: 'No server or proxy port is specified.',
      },
      search_profile: {
        ru: "Поиск профиля",
        en: 'Profile search',
      },
      get_new_fp_true: {
        ru: "Новый fingerprint получен успешно.",
        en: 'The new fingerprint has been successfully obtained.',
      },
      error_get_new_fp: {
        ru: "Ошибка при получении нового fingerprint.",
        en: 'Error on receiving a new fingerprint.',
      },
      get_new_fp: {
        ru: "Получить новый отпечаток",
        en: 'Get a new fingerprint',
      },
      settings: {
        ru: "Настройки",
        en: 'Settings',
      },
      settings_2: {
        ru: "Настройки интерфейса:",
        en: 'Interface settings:',
      },
      select_lang: {
        ru: "Выбор языка интерфейса",
        en: 'Interface language selection',
      },
      select_theme: {
        ru: "Выбор темы интерфейса",
        en: 'Select an interface theme',
      },
      error_profile_delete: {
        ru: "Удалить профиль не удалось.",
        en: 'The profile could not be deleted.',
      },
      error_profile_edit: {
        ru: "Изменить профиль не удалось.",
        en: 'It was not possible to change the profile.',
      },
      error_profile_get_fp: {
        ru: "Получить отпечаток не удалось.",
        en: 'It was not possible to get a fingerprint.',
      },
      error_profile_create: {
        ru: "Создать профиль не удалось.",
        en: 'It was not possible to create a profile.',
      },
      error_profile_start: {
        ru: "Запустить профиль не удалось.",
        en: 'Запустить профиль не удалось.',
      },
      error_init_profile_list: {
        ru: "Не удалось получить список профилей.",
        en: 'It was not possible to launch the profile.',
      },
      profile_start: {
        ru: "Запустить",
        en: 'Run',
      },
      window_edit: {
        ru: "Редактировать",
        en: 'Edit',
      },
      profile_delete: {
        ru: "Удалить",
        en: 'Delete',
      },
      profile: {
        ru: "Профиль",
        en: 'Profile',
      },
      profile_name: {
        ru: "Название профиля",
        en: 'Profile name',
      },
      profile_desc: {
        ru: "Описание профиля",
        en: 'Profile Description',
      },
      perfrct_canvas: {
        ru: "Введите сайт или оставьте поле пустым",
        en: 'Enter a site or leave the field blank',
      },
      proxy_server: {
        ru: "Сервер:",
        en: 'Server:',
      },
      proxy_port: {
        ru: "Порт:",
        en: 'Port:',
      },
      proxy_type: {
        ru: "Тип:",
        en: 'Type:',
      },
      proxy_login: {
        ru: "Логин:",
        en: 'Login:',
      },
      proxy_pass: {
        ru: "Пароль:",
        en: 'Password:',
      },
      proxy: {
        ru: "Прокси",
        en: 'Proxy',
      },
      fp: {
        ru: "Отпечаток",
        en: 'Fingerprint',
      },
      fp_browser: {
        ru: "Название браузера:",
        en: 'Browser name:',
      },
      fp_system: {
        ru: "Платформа:",
        en: 'Platform:',
      },
      fp_lang: {
        ru: "Языки браузера:",
        en: 'Browser languages:',
      },
      fp_browser_height: {
        ru: "Высота браузера:",
        en: 'Browser height:',
      },
      fp_browser_width: {
        ru: "Ширина браузера:",
        en: 'Browser width:',
      },
      fp_user_agent: {
        ru: "Юзер-Агент",
        en: 'User-Agent:',
      },
      btn_apply: {
        ru: "ПРИНЯТЬ",
        en: 'APPLY',
      },
      btn_cancel: {
        ru: "ОТМЕНА",
        en: 'CANCEL',
      },
      fp_properties: {
        ru: "Параметры Отпечатка",
        en: 'Fingerprint properties',
      },
      fp_age_max: {
        ru: "Максимальный возраст отпечатка",
        en: 'Age',
      },
      fp_age_days: {
        ru: "дней",
        en: 'days',
      },
      fp_age_any: {
        ru: "любое",
        en: 'any',
      },
      fp_browser_min: {
        ru: "Минимальная версия браузера",
        en: 'Minimal browser version',
      },
      browser_cookies: {
        ru: "Файл куков браузера",
        en: 'Browser cookies file',
      },
      browser_cookies_dir: {
        ru: "Файл с куками",
        en: 'File with cookies',
      },
      error_close_app: {
        ru: "Закрыть приложение не удалось.",
        en: 'It was not possible to close the application.',
      },
      btn_close_app: {
        ru: "Выход",
        en: 'Exit',
      },
      btn_proxy_check:{
        ru: "ПРОВЕРИТЬ",
        en: "CHECK",
      },
      error_proxy_check: {
        ru: "Проверить прокси не удалось.",
        en: 'It was not possible to check the proxy.',
      },
      proxy_check_true: {
        ru: "Проверка прокси прошла успешно.",
        en: 'The proxy check was successful.',
      },
      proxy_check_false: {
        ru: "Проверка прокси прошла неудачно.",
        en: 'The proxy check was unsuccessful.',
      },
      proxy_help: {
        ru: "Данная опция позволяет вам изменить ай-пи профиля. Данные прокси могут быть указаны \nкак с наличием логина и пароля, так и без этих данных.\nРекомендуется сразу проверять работоспособность прокси.\n Примеры: \nсервер: 127.0.0.1 порт: 1111 тип: socks5 логин: admin пароль: admin \nсервер: 127.0.0.1 порт: 1111 тип: socks5 логин:            пароль: ",
        en: 'proxy_help',
      },
      fp_help: {
        ru: "В данном разделе вы можете посмотреть какой отпечаток будет использоваться в профиле.\nЕсли вы хотите изменить отпечаток, нажмите на кнопку \"Получить новый отпечаток\".\nОбратите внимание на высоту и ширину экрана, для более удобной работы используйте отпечатки с большим разрешением.\n * Отпечатки в данном разделе получаются без фильтров установленных на предыдущей странице",
        en: 'fp_help',
      },
      fp_properties_help: {
        ru: "Выберите систему и устройство, для которых вы зотите получить отпечаток.\nНесколько параметров могут быть объединены вместе.\n Примеры:\n * - получает любой отпечаток\n Desktop - получает отпечаток Desktop систем\n Mobile - получает отпечаток мобильных систем\n Microsoft Windows,Chrome - отпечаток Windows c браузером Chrome",
        en: 'fp_properties_help',
      },
      fp_age_max_help: {
        ru: "Данная опция позволяет выбрать только те отпечатки, дата добавления\nв базу которых соответствует определенному периоду.\n Примеры:\nлюбое - не фильтровать по дате добавления\n15 дней - выбирать только те отпечатки, которые были добавлены не позже 15 дней назад.",
        en: 'fp_age_max_help',
      },
      fp_browser_min_help: {
        ru: "Выбирать только те отпечатки, которые имеют определенную версию браузера.\nДанная опция работает с браузером Chrome. Например, вы можете выбрать\nотпечатки для браузера Chrome c с версией не меньше 75.\n Примеры:\n* - не фильтровать по версии браузера\n75 - версия браузера должна быть не меньше 75",
        en: 'fp_browser_min_help',
      },
      browser_cookies_help: {
        ru: "Данная опция позволяет вам загрузить в отпечаток сторонние cookies.\nЕсли данная опция не нужна, оставьте поле пустым.\n***ВАЖНО***\nРазработчик браузера не несет ответственности за использование сторонних cookies в незаконных целях.",
        en: 'browser_cookies_help',
      },
      perfrct_canvas_help: {
        ru: "*Оставьте поле пустым, чтобы получить Canvas стандартным способом.\nС помощью технологии Ideal Canvas замена данных canvas происходит максимально точным способом.\nДанные отрисовываются на реальных устройствах. Введите сайт с которым вы хотите работать на этом профиле.\nС данной технологией, получение профиля происходит значительно дольше.\n **ВАЖНО**\nНекоторые сайты получают отпечаток прямо на основной странице, но более распространенная практика - делать это только тогда,\nкогда пользователь пытается получить доступ к чувствительным страницам сайта, например, к личному кабинету.",
        en: 'perfrct_canvas_help',
      },
      perfect_input: {
        ru: "Введите сайт",
        en: 'Input site',
      },
      get_perfrct_canvas_true: {
        ru: "Ideal Canvas получен",
        en: 'Ideal Canvas received',
      },
      get_perfrct_canvas_false: {
        ru: "Ideal Canvas не получен",
        en: 'Ideal Canvas not received',
      },
      get_perfrct_canvas: {
        ru: "Получить",
        en: 'GET',
      },
      error_get_perfrct_canvas: {
        ru: "Ошибка при получении Ideal Canvas.",
        en: 'Error on receiving a Ideal Canvas.',
      },

    },
  },
  methods: {
    profile_create_router: async function(){

      this.wait_profile.create = true;
      if( this.new_profile.type == 'normal' ){
        this.profile_create();
      }
      if( this.new_profile.type == 'fast' ){
        try{
          var r = await Api.RunFunction("wi_profile_quick_create", {data: this.new_profile});
          if(r.status == true){
            this.wait_profile.create = false;
            this.window_main();
            this.profile_start_fast( r.msg );
          }else{
            this.dialog.msg = r.msg;
            this.dialog.e = "";
            this.dialog.show = true;
          }
          
        }catch(e){
          this.dialog.msg = this.lt.error_profile_create[this.local];
          this.dialog.e = e;
          this.dialog.show = true;
        }
      }
      this.wait_profile.create = false;
    },
    window_create(){
      this.new_profile = {type: 'normal', age: '*', system: ['*'], browser_min: '*', perfrct_canvas: '', name: '', desc: '', path_cookie: '', perfrct_canvas_url: '',
        proxy: {server: "", port: "", type: "socks5", login: "", pass: "",}
      };
      this.theme_change2();
      this.seen = 2;
      scroll(0,0);
      window.addEventListener('scroll', wrap_height_min);;
    },
    window_create_fast(){
      this.new_profile = {type: "fast", age: '*', system: ['*'], browser_min: '*', perfrct_canvas: '', name: '', desc: '', path_cookie: '', perfrct_canvas_url: '',
        proxy: {server: "", port: "", type: "socks5", login: "", pass: "",}
      };
      this.theme_change2();
      this.seen = 2;
      scroll(0,0);
      window.addEventListener('scroll', wrap_height_min);
    },
    profile_start_fast: async function(data){
      try{
        Api.RunFunction("wi_profile_quick_start", {data: data});
      }catch(e){
        this.dialog.msg = this.lt.error_profile_create[this.local];
        this.dialog.e = e;
        this.dialog.show = true;
      }
    },
    window_main(){
      this.seen = 0;
      this.theme_change();
      window.addEventListener('scroll', wrap_height_min);
      scroll(0,0);
    },
    window_edit(id){
      if( this.profile_list[id].status.start == true || this.profile_list[id].status.edit == true || this.profile_list[id].status.delete == true){
        return;
      }else{
        this.profile_list[id].status.edit = true;
        this.wait_profile.edit = false;
        this.dialog.profile_clear_data.wait = false;
        
        this.profile_edit_data.num = id;
        let d = this.profile_list[id];
        this.profile_edit_data.show = {
          ua: false,
          width: false,
          height: false,
          lang: false
        }
        this.profile_edit_data.id = d.id;
        this.profile_edit_data.name = d.name;
        this.profile_edit_data.desc = d.desc;
        this.profile_edit_data.img = d.img;
        this.profile_edit_data.fp_filters = d.fp_filters;
        this.profile_edit_data.fingerprint = JSON.parse( this.profile_list[id].fingerprint );
        this.profile_edit_data.fp_user_param_echo = { 
          lang: this.profile_edit_data.fingerprint.lang,
          height: this.profile_edit_data.fingerprint.height,
          width: this.profile_edit_data.fingerprint.width,
          ua: this.profile_edit_data.fingerprint.ua
        }
        this.profile_edit_data.perfrct_canvas = d.perfrct_canvas;
        this.profile_edit_data.proxy = {
          server: (typeof d.proxy.server === 'undefined') ? "" : d.proxy.server,
          port: (typeof d.proxy.port === 'undefined') ? "" : d.proxy.port,
          type: (typeof d.proxy.type === 'undefined' || d.proxy.type == '' ) ? "socks5" : d.proxy.type,
          login: (typeof d.proxy.login === 'undefined') ? "" : d.proxy.login,
          pass: (typeof d.proxy.pass === 'undefined') ? "" : d.proxy.pass,
        }
        this.proxy_type = this.profile_edit_data.proxy.type == 'socks5';
        this.theme_change2();
        this.seen = 1;
        scroll(0,0);
        window.addEventListener('scroll', wrap_height_min);
      }
    },
    profile_index(id){
      let r = -1;
      for(let i in this.profile_list){
        if( this.profile_list[i].id == id ){
          r = i;
          break;
        }
      }
      return r;
    },
    profile_delete: async function(){
      let id = this.dialog.profile_delete.id;
      if( this.profile_list[id].status.start == true || this.profile_list[id].status.edit == true || this.profile_list[id].status.delete == true){
        return;
      }else{
        try{
          this.profile_list[id].status.delete = true;
          await Api.RunFunction("wi_profile_delete", {id: this.profile_list[ id ].id});
          this.profile_list.splice(id, 1);
          this.search_result_reset();
          this.page_new();
        }catch(e){
          this.dialog.msg = this.lt.error_profile_delete[this.local];
          this.dialog.e = e;
          this.dialog.show = true;
        }
        this.dialog.profile_delete.show = false;
        this.dialog.profile_delete.wait = false;
      }
    },
    profile_delete_dialog(id){
      if( this.profile_list[id].status.start == true || this.profile_list[id].status.edit == true || this.profile_list[id].status.delete == true){
        return;
      }else{
        this.dialog.profile_delete.id = id;
        this.dialog.profile_delete.show = true;
      }
    },
    profile_edit: async function(){
      this.wait_profile.edit = true;
      try{
        let i = this.profile_edit_data.num;
        this.profile_list[ i ].name = this.profile_edit_data.name;
        this.profile_list[ i ].desc = this.profile_edit_data.desc;
        this.profile_list[ i ].proxy = this.profile_edit_data.proxy;
        this.profile_list[ i ].fingerprint = JSON.stringify( this.profile_edit_data.fingerprint );

        this.profile_list[ i ].fp_user_param = {
          fp_change: false,
          lang: "",
          screen_height: "",
          screen_width: "",
          ua: ""
        }
        this.profile_list[ i ].fp_user_param.fp_change = false;
        if( this.profile_edit_data.fp_user_param_echo.lang != this.profile_edit_data.fingerprint.lang ){
          this.profile_list[ i ].fp_user_param.fp_change = true;
          this.profile_list[ i ].fp_user_param.lang = this.profile_edit_data.fp_user_param_echo.lang;
        }else{
          this.profile_list[ i ].fp_user_param.lang = "";
        }
        if( this.profile_edit_data.fp_user_param_echo.ua != this.profile_edit_data.fingerprint.ua ){
          this.profile_list[ i ].fp_user_param.fp_change = true;
          this.profile_list[ i ].fp_user_param.ua = this.profile_edit_data.fp_user_param_echo.ua;
        }else{
          this.profile_list[ i ].fp_user_param.ua = "";
        }
        if( this.profile_edit_data.fp_user_param_echo.height != this.profile_edit_data.fingerprint.height ){
          this.profile_list[ i ].fp_user_param.fp_change = true;
          this.profile_list[ i ].fp_user_param.screen_height = this.profile_edit_data.fp_user_param_echo.height;
        }else{
          this.profile_list[ i ].fp_user_param.screen_height = "";
        }
        if( this.profile_edit_data.fp_user_param_echo.width != this.profile_edit_data.fingerprint.width ){
          this.profile_list[ i ].fp_user_param.fp_change = true;
          this.profile_list[ i ].fp_user_param.screen_width = this.profile_edit_data.fp_user_param_echo.width;
        }else{
          this.profile_list[ i ].fp_user_param.screen_width = "";
        }
        

        await Api.RunFunction("wi_profile_edit", {data: this.profile_list[ i ]});
        this.profile_list[ i ].status.edit = false;
        this.theme_change();
        this.window_main();
      }catch(e){
        this.dialog.msg = this.lt.error_profile_edit[this.local];
        this.dialog.e = e;
        this.dialog.show = true;
      }
      this.wait_profile.edit = false;
    },
    profile_create: async function(){
      if( this.new_profile.desc.length > 44 || this.new_profile.name.length > 22 || this.new_profile.name.length < 1 ){
        if( this.local == "ru" ){
          this.dialog.msg = "Название или/и описание имеют недопустимое число символов.";
        }else{
          this.dialog.msg = "The name and/or description has an invalid number of characters.";
        }
        this.dialog.e = "";
        this.dialog.show = true;
      }else{
        try{
          this.wait_profile.create = true;

          var r = await Api.RunFunction("wi_profile_create", {data: this.new_profile});
          if( r.status === true){
            let length = this.profile_list.push( r.msg );
            this.search_result_reset();
            this.page_new();

            this.window_edit( length - 1 );
            min_height();
            scroll(0,0);
          }else{
            this.dialog.msg = this.lt.error_profile_get_fp[this.local];
            this.dialog.e = "";
            this.dialog.show = true;
          }
        }catch(e){
          this.dialog.msg = this.lt.error_profile_create[this.local];
          this.dialog.e = e;
          this.dialog.show = true;
        }
      }
      this.wait_profile.create = false;
    },
    profile_start: async function(id){
      if( this.profile_list[id].status.start == true || this.profile_list[id].status.edit == true || this.profile_list[id].status.delete == true){
        return;
      }else{
        this.profile_list[id].status.start = true;
        try{
          let Thread = Api.RunFunction("wi_profile_start", {id: this.profile_list[id].id } );
          this.profile_list[id].thread_run = true;
          this.profile_list[id].thread_id = Thread.get_id();
          await Thread;
        }catch(e){
          this.dialog.msg = this.lt.error_profile_start[this.local];
          this.dialog.e = e;
          this.dialog.show = true;
        }
        try{
          this.profile_list[id].img = this.profile_list[id].img.split("?")[0] + "?date=" + Date.now();
        }catch(e){
          this.dialog.msg = "Обновить профиль в интерфейсе после запуска не удалось";
          this.dialog.e = e;
          this.dialog.show = true;
        }
        this.profile_list[id].thread_run = false;
        this.profile_list[id].status.start = false;
      }

    },
    close_app: async function(){
      try{
        await CloseApplication();
      }catch(e){
        this.dialog.msg = this.lt.error_close_app[this.local];
        this.dialog.e = e;
        this.dialog.show = true;
      }
    },
    save_change: function(){
      if( window.demo_test == undefined ){
        WriteFile("c:/data/bas_007.txt", JSON.stringify( {lang: this.local, theme: this.settings_theme.select, browser_lang: this.settings_lang.browser} ) )
      }
    },
    load_change: function(){
      try{
        let data = JSON.parse( ReadFile("c:/data/bas_007.txt") );
        this.local = data.lang;
        this.settings_lang.browser = data.browser_lang;
        this.lang_change();
        this.settings_theme.select = data.theme;
        this.theme_change();
      }catch(e){
        this.settings_theme.select = "YOD Space";
        this.lang_change();
        this.theme_change();
        console.log("Error `ReadFile` `c:/data/bas_007.txt`:\n" + e)
      }
    },
    lang_change: function(){
      if( this.settings_lang.select == "English"){
        this.local = "en";
        if( this.settings_lang.browser == "English" || this.settings_lang.browser == "Английский" ){
          this.settings_lang.browser = "English";
        }else{
          this.settings_lang.browser = "Russian";
        }
      }else{
        this.local = "ru";
        if( this.settings_lang.browser == "English" || this.settings_lang.browser == "Английский" ){
          this.settings_lang.browser = "Английский";
        }else{
          this.settings_lang.browser = "Русский";
        }
      }
      this.save_change();
    },
    lang_change_browser: async function(){
      let lang = "en";
      if( this.settings_lang.browser == "English" || this.settings_lang.browser == "Английский" ){
        lang = "en";
      }else{
        lang = "ru";
      }

      if( this.settings_lang.browser_current != this.settings_lang.browser ){
        try{
          Api.RunFunction("wi_change_lang", {lang_prefix: lang});
        }catch(e){

        }
      }
      this.settings_lang.browser_show = true;
      this.save_change();
    },
    theme_change2(){
      document.getElementById("b_img").hidden = true;
      let style = theme_data(this.settings_theme.select);
      document.getElementById("b_img").style["background-color"] = '#FAFAFA';
      this.$vuetify.theme.themes.light.primary = '#EEEEEE';
      this.$vuetify.theme.themes.light.secondary = '#BDBDBD';
      this.$vuetify.theme.themes.light.accent = '#FF5252';
      this.$vuetify.theme.themes.light.error = style.theme.accent;
      this.$vuetify.theme.themes.light.info = '#2196F3';
      this.$vuetify.theme.themes.light.success = '#4CAF50';
      this.$vuetify.theme.themes.light.warning = '#FFC107';
      this.$vuetify.theme.dark = false;
      
      document.getElementById("star").hidden = true;
      document.getElementById("canvas").hidden = true;
      document.getElementById("cube_ico").hidden = false;
      document.getElementById("canvas_js").src = "";
      enableScrolling();
    },
    theme_change(){
      let style = theme_data(this.settings_theme.select);
      this.$vuetify.theme.themes.light = style.theme;
      this.$vuetify.theme.themes.dark = style.theme;
      this.$vuetify.theme.dark = style.dark;
      this.settings_theme.header_style = style.header_color;

      this.save_change();

      document.getElementById("b_img").hidden = false;
      document.getElementById("star").hidden = true;
      document.getElementById("canvas").hidden = true;
      document.getElementById("canvas_js").src = ""
      
      document.getElementById("particles-background").innerHTML = "";
      document.getElementById("particles-foreground").innerHTML = "";

      document.getElementById("cube_ico").hidden = false;
      if( style.dark ){
        document.getElementById("cube_ico_i").style.filter = 'invert(0)';
      }else{
        document.getElementById("cube_ico_i").style.filter = 'invert(1)';
      }

      document.getElementById("b_img").style["background"] = "";
      document.getElementById("b_img").style["background-color"] = "";

      if( this.settings_theme.select == "Space" ){
        document.getElementById("star").style["background-color"] = "rgb(0, 0, 0)";
        document.getElementById("b_img").style["background-color"] = "";
        document.getElementById("star").hidden = false;
      }else if( this.settings_theme.select == "Cube" ){
        document.getElementById("b_img").style["background-color"] = "";
        document.getElementById("canvas").hidden = false;
        document.getElementById("canvas_js").src = "https://www.db-artsam.ru/images/cube.js"
      }else if( this.settings_theme.select == "YOD Space" ){
        document.getElementById("b_img").style["background"] = style.background;
        document.getElementById("b_img").style["background-color"] = style["background-color"];
        activator_particleground();
      }else{
        document.getElementById("b_img").style["background"] = style.background;
        document.getElementById("b_img").style["background-color"] = style["background-color"];
      }
      document.getElementById("b_img").style["background-size"] = "cover";

      this.search_input_style();

      //window.addEventListener('scroll', wrap_height_min);
      disableScrolling();
    },
    search_input_style(){
      if( this.seen == 0 ){
        try{
          let style = theme_data(this.settings_theme.select);
          // search input
          document.querySelector("div.v-input__slot").style["background-color"] = style.search_background_color;
          if( style.dark ){
            document.querySelector("div.v-text-field__slot > input").style.color = "white";
            document.querySelector("label").style.color = "white";
          }else{
            document.querySelector("div.v-text-field__slot > input").style.color = "black";
            document.querySelector("label").style.color = "black";
          }
        }catch(e){ 
          
        }
      }
    },
    proxy_check: async function(proxy){
      this.wait_profile.proxy = true;
      if( proxy.server.length > 0 && proxy.port.length > 0){
        try{
          let r = await Api.RunFunction("wi_proxy_check", {data: proxy });
          if( r.status === true){
            this.dialog.msg = this.lt.proxy_check_true[this.local];
            this.dialog.e = "";
            this.dialog.show = true;
          }else{
            this.dialog.msg = this.lt.proxy_check_false[this.local];
            this.dialog.e = r.msg;
            this.dialog.show = true;
          }
        }catch(e){
          this.dialog.msg = this.lt.error_proxy_check[this.local];
          this.dialog.e = e;
          this.dialog.show = true;
        }
      }else{
        this.dialog.msg = this.lt.error_proxy_check_none[this.local];
        this.dialog.e = "";
        this.dialog.show = true;        
      }
      this.wait_profile.proxy = false;
    },
    get_new_fp: async function(){
      this.wait_profile.fingerprint = true;
      try{
        var r = await Api.RunFunction("wi_get_new_fp", {data: this.profile_edit_data});
        if( r.status === true){
          this.profile_edit_data.fingerprint = JSON.parse( r.msg );
          this.profile_edit_data.fp_user_param_echo = { 
            lang: this.profile_edit_data.fingerprint.lang,
            height: this.profile_edit_data.fingerprint.height,
            width: this.profile_edit_data.fingerprint.width,
            ua: this.profile_edit_data.fingerprint.ua
          }
          this.dialog.msg = this.lt.get_new_fp_true[this.local];
          this.dialog.show = true;
        }else{
          this.dialog.msg = this.lt.error_profile_get_fp[this.local];
          this.dialog.e = "";
          this.dialog.show = true;
        }
      }catch(e){
        this.dialog.msg = this.lt.error_get_new_fp[this.local];
        this.dialog.e = e;
        this.dialog.show = true;
      }
      this.wait_profile.fingerprint = false;
    },
    get_perfrct_canvas: async function(){
      this.wait_profile.perfrct_canvas = true;
      if( this.new_profile.perfrct_canvas_url.length > 0 ){
        try{
          var r = await Api.RunFunction("wi_get_perfrct_canvas", {site: this.new_profile.perfrct_canvas_url, proxy: this.new_profile.proxy});
          if( r.status == true){
            this.new_profile.perfrct_canvas = r;
            this.dialog.msg = this.lt.get_perfrct_canvas_true[this.local];
            this.dialog.show = true;
          }else{
            this.dialog.msg = this.lt.error_get_perfrct_canvas[this.local];
            this.dialog.e = r.msg[this.local];//this.lt.get_perfrct_canvas_false[this.local];
            this.dialog.show = true;
          }
        }catch(e){
          this.dialog.msg = this.lt.error_get_perfrct_canvas[this.local];
          this.dialog.e = e;
          this.dialog.show = true;
        }
      }
      this.wait_profile.perfrct_canvas = false;
    },
    btn_search(){
      this.slide.search_result = [];
      for(let el of this.profile_list){
        if( el.name.toLowerCase().includes(this.search_text) ) this.slide.search_result.push(el.id);
      }
      this.slide.page = 1;
      this.page_count_size();
      this.page_new();
      window.addEventListener('scroll', wrap_height_min);
    },
    btn_fp_post(item){
      if( this.new_profile.system.length === 0 ){
        this.new_profile.system = ["*"];
        return;
      }
      if( item == '*' ){
        this.new_profile.system = ["*"];
        return;
      }
      if( this.new_profile.system != ["*"] ){
        var index = this.new_profile.system.indexOf( "*" );
        if (index > -1) {
          this.new_profile.system.splice(index, 1);
        }
      }
    },
    select_dir: async function(){
      // wiki.bablosoft.com/web-interface/#/interactingnativewindow?id=method-openfiledialog
      let Options = {
        caption: this.lt.browser_cookies_dir[this.local],
        is_dir: false, 
        dir: "c:/", 
        filter: "Text files (*.txt);"
      }
      //If user dismiss dialog, SelectedFile will contain empty string
      var SelectedDir = await Api.OpenFileDialog(Options);
      this.new_profile.path_cookie = SelectedDir;
    },
    profile_clear_data: async function(){
      this.dialog.profile_clear_data.wait = true;
      try{
        var r = await Api.RunFunction("wi_profile_clear_data", {"id": this.profile_edit_data.id });
        if(r.status == true){
          this.dialog.profile_clear_data.show = false;
          this.dialog.msg = this.lt.profile_clear_data_true[this.local];
          this.dialog.e = "";
          this.dialog.show = true;
        }else{
          this.dialog.msg = r.msg;
          this.dialog.e = "";
          this.dialog.show = true;
        }   
      }catch(e){
        this.dialog.msg = this.lt.error_profile_clear_data[this.local];
        this.dialog.e = e;
        this.dialog.show = true;
      }
      this.dialog.profile_clear_data.wait = false;
    },
    page_wheel(ev){
      let p;
    	if( ev.deltaY < 0 ){
        p = this.slide.page + 1;// 'вправо';
      }else{
        p = this.slide.page - 1;// 'влево';
        if( p < 1 ) p = 1;
      }
      this.slide.page = p;
      this.page_new();
    },
    page_new(){
      let p = this.slide.page;
      let el_end = 8 * p;
      let list = this.slide.search_result.slice(el_end - 8, el_end);
      if( list.length == 0 ){
        this.slide.page = 1;
        list = this.slide.search_result.slice(0,8);
        this.slide.list = this.page_format(list);
      }else{
        this.slide.page = p;
        this.slide.list = this.page_format(list);
      }
    },
    page_format(list){
      let new_list = [];
      for(let el of list){
        new_list.push( this.profile_index(el) );
      }
      return new_list;
    },
    page_count_size(){
      this.slide.count_page = Math.ceil( this.slide.search_result.length / 8 );
    },
    search_result_reset(){
      this.slide.search_result = [];
      for(let el of this.profile_list){
        this.slide.search_result.push(el.id);
      }
      this.page_count_size();
    },
    if_true(el){
      return el == false;
    },
    browser_open(ThreadId){
      let BrowserId = Api.GetTasks()[ThreadId].browser_id;
      Api.ShowBrowser(BrowserId);
    }
  },
  computed: {
    allSelected(){ return this.new_profile.system.length === this.sys_tags.length },
    categories(){ return this.sys_tags },
    selections_system () {
      const selections = []
      for (const selection of this.new_profile.system){
        selections.push(selection);
      }
      return selections;
    },
  },
  async created (){
    this.load_change();
    try{
      if( window.demo_test == undefined ){
        var r = await Api.RunFunction("wi_init_profile_list", {});
      }else{
        var r = ex_data();
      }
      this.profile_list = r;
      this.search_result_reset();
      this.page_new(); 
    }catch(e){
      this.dialog.msg = this.lt.error_init_profile_list[this.local];
      this.dialog.e = e;
      this.dialog.show = true;
      this.profile_list = [];
    }
    if( this.settings_theme.select == "YOD Space" ) activator_particleground();
    scroll(0,0);
  },
  mounted() {
    window.addEventListener('keyup', function(e){
      
      let p;
      if( app.seen == 0 && e.key == "ArrowLeft"){
        p = app.slide.page - 1;
        if( p < 1 ) p = 1;
        app.slide.page = p;
        app.page_new();
      }
      if( app.seen == 0 && e.key == "ArrowRight"){
        let p = app.slide.page + 1;
        app.slide.page = p;
        app.page_new();
      }
    });
    window.addEventListener('scroll', wrap_height_min);
    if( this.settings_theme.select == "YOD Space" ) activator_particleground();
    this.search_input_style();
    
  },
  updated() {
    this.search_input_style();
  }
})

</script>


</body>
</html>